@import "../../../assets/styles/colors.scss";

.menu-element-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 23px;
  background-color: $light-pink;
  margin-bottom: 15px;
  border: solid 1px $light-orange2;
  align-items: center;

  &--filtered {
    color: $gray2;
    background-color: $light-gray;
    border: solid 1px $light-gray2;
  }

  .id-element {
    width: 3%;
    text-align: center;
    padding-left: 15px;
  }
  .name-element {
    display: flex;
    width: 20%;
    text-align: left;
  }
  .crust-element {
    display: flex;
    width: 7%;
    justify-content: center;
    text-transform: lowercase;
  }
  .diameter-element {
    width: 7%;
  }

  .ingridients-element {
    width: 40%;
    text-align: left;
    font-size: 18px;
    text-align: justify;
    padding: 5px 0px 5px 0px;
  }

  .button-element {
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
    padding-right: 15px;
  }

  .menu-element-order-button {
    border-radius: 7px;
    color: white;
    background-color: $red;
  }

  .menu-element-order-button:hover {
    box-shadow: 0px 0px 10px 0px rgba(133, 6, 6, 0.75);
  }

  .menu-element-order-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .menu-element-order-button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .menu-element-order-button:hover span {
    padding-right: 25px;
  }

  .menu-element-order-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btn-order {
    width: 100px;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    margin: 3px 15px 3px 15px;
  }

  @media (max-width: 991px) {
  }
}
