@import '../../../assets/styles/colors.scss';

.menu-element-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: solid 1px $dark-orange;
  background-color: $light-gray;
  margin-bottom: 5px;

  .menu-element-order-button {
    
  }

  @media(max-width: 991px) {

  }
}