@import "../../assets/styles/colors.scss";




.menu-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 80px 15px 0px 15px;
  text-align: center;
  background: $light-orange;

  .menu-title {
    font-size: 32px;
    // text-align: start;
    text-align: center;
  }

  .menu-content-wrapper {
    width: 100%;
    max-width: 1333px;

    .menu-title-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 23px;
      background-color: $light-orange3;
      margin-bottom: 15px;
      border: solid 1px $orange;
      align-items: center;

      .id-element {
        width: 2%;
        text-align: center;
        padding-left: 15px;
      }
      .name-element {
        display: flex;
        width: 15%;
        text-align: left;
      }
      .adress-element {
        display: flex;
        width: 15%;
        text-align: left;
      }
      .phoneNumber-element {
        display: flex;
        width: 15%;
        text-align: left;
      }
      .time-element {
        display: flex;
        width: 26%;
        justify-content: left;
      }


      .button-element {
        display: flex;
        justify-content: space-evenly;
        padding: 3px;
        padding-right: 15px;
      }

      .button-title {
        font-size: 23px;
        width: 100px;
        padding: 5px 15px 5px 15px;
        margin: 3px 15px 3px 15px;
      }

      .ingredients-title {
        width: 40%;
        //text-align: left;
        padding: 5px 0px 5px 0px;
        font-size: 23px;
      }
    }
  }
}

  @media (max-width: 991px) {
  }

