$light-gray: #faf9f8;
$light-gray2: #efedea;
$light-gray3: #d6d3ca;
$gray: #b8b3a4;
$gray2: #a69f8f;
$gray3: #8f897a;
$dark-gray: #706c61;
$dark-gray2: #423f38;

$light-pink: #fff2d6;

$light-orange: #fffaef;
$light-orange2: #ffecbf;
$light-orange3: #ffecc1;
$orange: #ffcc54;
$orange2: #f3bb3a;
$orange3: #c6992f;
$dark-orange: #866820;
$dark-orange2: #4f3d13;

$red: #e85b38;
$red2: #b83919;
$red3: #6d2b1a;

$light-red: #ffb8b8;
$red4: #b30e0e;
$light-green: #c4f8c1;
$green: #117a0d;