@import "../../assets/styles/colors.scss";

.orders-view-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 95px 15px 0px 15px;
  text-align: center;
  background: $light-orange;

  .orders-view-title {
    font-size: 32px;
    // text-align: start;
    text-align: center;
    margin-bottom: 25px;
  }

  .orders-view-content-wrapper {
    width: 100%;
    max-width: 1333px;

    .orders-view-title-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 23px;
      background-color: $light-orange3;
      margin-bottom: 15px;
      border: solid 1px $orange;
      align-items: center;

      .orders-view-id-element {
        width: 3%;
        text-align: center;
        padding-left: 15px;
      }
      .orders-view-name-element {
        display: flex;
        width: 13%;
        justify-content: center;
      }
      .orders-view-time-element {
        display: flex;
        width: 18%;
        justify-content: center;
      }


      .orders-view-button-element {
        display: flex;
        justify-content: space-evenly;
        padding-right: 15px;
        width: 18%;
      }

      .orders-view-button-title {
        font-size: 23px;
        width: 100px;
        padding: 5px 15px 5px 15px;
        margin: 3px 15px 3px 15px;
      }

      .orders-view-ingredients-title {
        width: 40%;
        text-align: left;
        padding: 5px 0px 5px 0px;
        font-size: 23px;
      }
    }
  }
}

  @media (max-width: 991px) {
  }

