@import "../../../assets/styles/colors.scss";

.menu-element-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 23px;
  background-color: $light-pink;
  margin-bottom: 15px;
  border: solid 1px $light-orange2;
  align-items: center;

  &--filtered {
    color: $gray2;
    background-color: $light-gray;
    border: solid 1px $light-gray2;
  }

  .id-element {
    width: 4%;
    text-align: left;
    padding-right: 55px;
  }
  .name-element {
    display: flex;
    width: 10%;
    text-align: left;
  }
  .data-element {
    display: flex;
    width: 20%;
    
    text-align: left;
    text-transform: lowercase;
  }


  .ingridients-element {
    width: 40%;
    text-align: left;
    font-size: 18px;
    text-align: justify;
    padding-right: 155px;
  }

  .button-element {
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
    padding-right: 15px;
  } 

  .btn-status {
    font-size: 17px;
    background-color: $light-pink;
    border: solid 2px $light-orange2;

    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(165, 76, 17, 0.75);
    }

    &--disabled {
      color: $gray2;
      background-color: $light-gray;
      border: solid 2px $light-gray2;

      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(126, 126, 126, 0.75);
      }

    }
  }



  .input-check{
   
    /* this is the style of an unchecked "button" */
    .input-check{
        display:inline-block;
        height:20px;
        padding:5px 8px;
        background:green;
        width:70px;
        color:white
    }
    /* This is the style for a checked "button" */
    .input-check.checked{
        background:red;
        color:black;
        font-weight:bold
    }
    /* Hide the checkbox */
    .input-check input{
        display:none
    }

  }

  @media (max-width: 991px) {
  }
}




